*
!.gitignore
!.profile
!.bash_profile
!.bashrc
!.bashrc.d
!.bashrc.d/*
!.fdignore
!.vim
!.vim/*
.vim/plugged
.vim/.netrwhist
.cache
.cache/**
!.fonts
!.fonts/**
!.config
.config/*
!.config/waybar
!.config/waybar/*
!.config/hypr
!.config/hypr/**
!.config/wal
!.config/wal/**
!Pictures
!Pictures/**
projects
projects/**
!projects/walcustom
!projects/walcustom/**

