*
!.gitignore
!.profile
!.bash_profile
!.bashrc
!.fdignore
!.vim
.vim/plugged
!.config
.config/*
!.config/waybar
!.config/waybar/*
!.config/hyprland
!.config/hyprland/**
!.config/wal
!.config/wal/**
!Wallpapers
!Wallpapers/**
!projects
projects/*
!projects/walcustom
!projects/walcustom/**

