*
!.gitignore
!.profile
!.bash_profile
!.bashrc
!.bashrc.d
!.bashrc.d/*
!.fdignore
!.vim
!.vim/*
.vim/plugged
.vim/.netrwhist
.cache
.cache/**
!.icons
!.icons/**
!.themes
!.themes/**
!.fonts
!.fonts/**
!.config
.config/*
!.config/waybar
!.config/waybar/*
!.config/hypr
!.config/hypr/**
!.config/wal
!.config/wal/**
!.config/yazi
!.config/yazi/**
!Pictures
!Pictures/**
!projects
!projects/walcustom
!projects/walcustom/**
!projects/gtktheme
!projects/gtktheme/**
**.swp
