@define-color foreground #dec89d;
@define-color background #0d1924;
@define-color cursor #dec89d;

@define-color color0 #0d1924;
@define-color color1 #53696B;
@define-color color2 #6D726D;
@define-color color3 #9B773D;
@define-color color4 #90765F;
@define-color color5 #758770;
@define-color color6 #9A8D63;
@define-color color7 #dec89d;
@define-color color8 #9b8c6d;
@define-color color9 #53696B;
@define-color color10 #6D726D;
@define-color color11 #9B773D;
@define-color color12 #90765F;
@define-color color13 #758770;
@define-color color14 #9A8D63;
@define-color color15 #dec89d;
