@use '../../theme' as theme;

radio {
  min-width: 16px;
  min-height: 16px;
  border: 1px solid theme.$border;
  background: theme.$base;
}

radio {
  border-radius: 999px;
}

radio:checked {
  background: theme.$primary;
  border-color: theme.$primary;
  color: theme.$selected-fg;
}
