@define-color foreground #cabdc3;
@define-color background #0b0604;
@define-color cursor #cabdc3;

@define-color color0 #0b0604;
@define-color color1 #6B5561;
@define-color color2 #8B4E35;
@define-color color3 #8C605C;
@define-color color4 #8C6B72;
@define-color color5 #827183;
@define-color color6 #927887;
@define-color color7 #cabdc3;
@define-color color8 #8d8488;
@define-color color9 #6B5561;
@define-color color10 #8B4E35;
@define-color color11 #8C605C;
@define-color color12 #8C6B72;
@define-color color13 #827183;
@define-color color14 #927887;
@define-color color15 #cabdc3;
