@define-color foreground #9abdb8;
@define-color background #101116;
@define-color cursor #9abdb8;

@define-color color0 #101116;
@define-color color1 #A03D3A;
@define-color color2 #DC392F;
@define-color color3 #E23C31;
@define-color color4 #E14235;
@define-color color5 #3E827C;
@define-color color6 #4D877A;
@define-color color7 #9abdb8;
@define-color color8 #6b8480;
@define-color color9 #A03D3A;
@define-color color10 #DC392F;
@define-color color11 #E23C31;
@define-color color12 #E14235;
@define-color color13 #3E827C;
@define-color color14 #4D877A;
@define-color color15 #9abdb8;
